@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "DotGothic16", sans-serif;
}

code {
	font-family: "DotGothic16", sans-serif;
}
